---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - article
    - articles
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
---

<h1>Tagged “{{ tag }}”</h1>

{% set articleslist = collections[ tag ] %}
{% include "components/articleslist.njk" %}

<nav class="secondary-navbar">
  <a href="{{ '/articles/' | url }}">← Blog index</a>
</nav>
