@font-face {
    font-family: 'Cocogoose Classic Trial';
    src: url('CocogooseClassicTrial-Medium.eot');
    src: url('CocogooseClassicTrial-Medium.eot?#iefix') format('embedded-opentype'),
        url('CocogooseClassicTrial-Medium.woff2') format('woff2'),
        url('CocogooseClassicTrial-Medium.woff') format('woff'),
        url('CocogooseClassicTrial-Medium.ttf') format('truetype'),
        url('CocogooseClassicTrial-Medium.svg#CocogooseClassicTrial-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cocogoose Classic Trial ExBold';
    src: url('CocogooseClassicTrial-ExtraBold.eot');
    src: url('CocogooseClassicTrial-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('CocogooseClassicTrial-ExtraBold.woff2') format('woff2'),
        url('CocogooseClassicTrial-ExtraBold.woff') format('woff'),
        url('CocogooseClassicTrial-ExtraBold.ttf') format('truetype'),
        url('CocogooseClassicTrial-ExtraBold.svg#CocogooseClassicTrial-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

