<footer>
  <small>
    Ahmad Hosna © 2019, Built with  <a target="_blank" href="https://www.11ty.io/">Eleventy</a>,
    Hosted on <a target="_blank" href="https://www.netlify.com">Netlify</a>.
  </small>
</footer>
