<footer class="site-footer">
  <div class="site-footer__wrapper">
    <span>
      {{ metadata.title }} © 2019
      <br>
      Built with  <a target="_blank" href="https://www.11ty.io/">Eleventy</a> 
      <strong>—</strong> 
      Hosted on 
      <a target="_blank" href="https://www.netlify.com">Netlify</a>
    </span>
  </div>
</footer>