<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>

  <link href="../../../_includes/assets/styles/prism-co.css" rel="stylesheet" />
  <link href="../../../_includes/assets/styles/App.css"   rel="stylesheet" />
  <link href="../../../_includes/assets/styles/coco-stylesheet.css" rel="stylesheet" />
  <link href="../../../_includes/assets/styles/inter-stylesheet.css" rel="stylesheet" />
  <link href="../../../_includes/assets/styles/reforma-stylesheet.css" rel="stylesheet" />

  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {# {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style> #}
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
{#   <script src="../../../_includes/assets/js/prism.js"></script> #}  
 <script>{{ js | jsmin | safe }}</script>
          
</head>
