body {
  background: #81a6e0;
  background: linear-gradient(to bottom, #81a6e0 0%, #cc7bc5 100%);
  background-attachment: fixed;
  color: white;
  font-family: var(--font-1);
  @mixin font-size 1.6;
  font-weight: 400; font-weight: 350;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  -webkit-overflow-scrolling: touch;

  font-kerning: normal;
    -webkit-font-kerning: normal;
    -ms-font-kerning: normal;
    -moz-font-kerning: normal;
    -o-font-kerning: normal;

  font-variant-ligatures: contextual common-ligatures;
    -webkit-font-variant-ligatures: contextual common-ligatures;
    -ms-font-variant-ligatures: contextual common-ligatures;
    -moz-font-variant-ligatures: contextual common-ligatures;
    -o-font-variant-ligatures: contextual common-ligatures;

}