---
layout: layouts/base.njk
section: article
---

<article class="article">

  <header class="article__header">
    <div class="article__meta">
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
      {% if tags %}
        <div class="article__tags">
          {% for tag in tags %}
            {%- if tag != "article" -%}
              {% set tagUrl %}/tags/{{ tag }}/{% endset %}
              <a href="{{ tagUrl | url }}" rel="tag">#{{ tag }}</a>
            {%- endif -%}
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <h2 class="article__title">
      <span>{{ title }}</span>
    </h2>
    
  </header>

  <section class="article__content">
    {{ layoutContent | safe }}
  </section>

  <footer class="article__footer">
    <div class="post-author">
      <div class="post-author__avatar">
        <img width="100" height="100" src="/static/img/avatar.jpeg"/>
      </div>
      <div class="post-author__info">
        <span class="h4">Written by</span>
        <h3 class="post-author__name">{{ metadata.author.name }}</h3>
      </div>
    </div>
  </footer>
</article>

<nav class="secondary-navbar">
  <a href="{{ '/articles/' | url }}"><span>←</span> Blog index</a>
</nav>