<!doctype html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">

  {% include "components/head.njk" %}

  <body>

    {% include "components/header.njk" %}

    <div class="site-content">
      <main class="site-content__content-wrapper">

        {{ layoutContent | safe }}

      </main>
    </div>

    {% include "components/footer.njk" %}

  </body>

</html>