---
layout: layouts/base.njk
section: blog
permalink: /articles/index.html
---

<section class="container">

    <h1 class="section-title">Articles</h1>
    <p>I like to research, read, learn and practice, then I share with people what I am learning by writing about it.</p>
    
    {{ layoutContent | safe }}

    {% set articleslist = collections.articles %}
    {% include "components/articleslist.njk" %}

</section>