---
layout: layouts/base.njk
section: blog
permalink: /posts/index.html
---

<section class="container">

    <h1 class="section-title">Articles</h1>

    {{ layoutContent | safe }}

    {% set postslist = collections.posts %}
    {% include "components/postslist.njk" %}

</section>