---
layout: layouts/base.njk
section: contact
---

<section class="page-section contact">
  <h1 class="section-title">Contact</h1>

  {{ layoutContent | safe }}

  {% include "components/form.njk" %}
</section>