---
layout: layouts/base.njk
section: contact
---
{# {{ layoutContent | safe }} #}

<section class="page-section contact">
  <div class="contact__inner">
    <span class="available-text">Available for Hire.</span>
    <h2>Let's work together!</h2>
    <p>Feel free to email <strong>ahmedhosna95[at]gmail[dot]com</strong> or use the form below.</p>

    {% include "components/form.njk" %}
  </div>
</section>