---
layout: layouts/base.njk
section: contact
---
{# {{ layoutContent | safe }} #}

<section class="page-section contact">
  <h1 class="section-title">Contact</h1>
    
  <div class="contact__inner">
    <span class="mail-text">ahmedhosna95[at]gmail[dot]com</span>
    <span class="available-text">Available for Hire.</span>
    <p>Feel free to email <strong>ahmedhosna95[at]gmail[dot]com</strong> or use the form below.</p>

    {% include "components/form.njk" %}
  </div>
</section>