---
layout: layouts/base.njk
section: portfolio
permalink: /works/index.html
---

<section class="container">

    <h1 class="section-title">Portfolio</h1>
    <p>Here is a selection of my recent works. For more you can visit me on github or dribbble.</p>
    
    {{ layoutContent | safe }}

    {% set workslist = collections.works %}
    {% include "components/workslist.njk" %}

</section>