---
layout: layouts/base.njk
section: post
---

<article class="post">

  <header class="post__header">
    <h1 class="post__title">{{ title }}</h1>
    <div class="post__meta">
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
    </div>

    {% if tags %}
      <div class="post__tags">
        {% for tag in tags %}
          {%- if tag != "post" -%}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <a href="{{ tagUrl | url }}" rel="tag">#{{ tag }}</a>
          {%- endif -%}
        {% endfor %}
      </div>
    {% endif %}
  </header>

  <section class="post__content">
    {{ layoutContent | safe }}
  </section>

  <footer class="post__footer">
    <div class="post__author">
      <div class="post__author__avatar">
        <img width="64" src="/static/img/logo.png"/>
      </div>
      <div class="author__info">
        <span class="h4">Written by</span>
        <h3 class="post__author__name">{{ metadata.author.name }}</h3>
      </div>
    </div>
  </footer>
</article>

<nav>
  <a href="{{ '/blog/' | url }}">← Blog index</a>
</nav>