---
layout: layouts/base.njk
section: projects
permalink: /works/index.html
---

<section class="container">

    <h1 class="section-title">Projects</h1>
    <p>I like to research, read, learn and practice, then I share with people what I am learning by writing about it.</p>
    
    {{ layoutContent | safe }}

    {% set workslist = collections.works %}
    {% include "components/workslist.njk" %}

</section>